.cardContainer {
  --card-width: 30vw;
  --card-height: calc(var(--card-width));
  display: flex;
  justify-content: center;
  align-items: flex-start;
  display: relative;
}

.card {
  width: var(--card-width);
  height: var(--card-height);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0 36px;
  perspective: 2500px;
  margin: 0 50px;
  border-radius: 20px; /* Adjust this value to control the roundness */
  /* overflow: hidden; */
  /* border-bottom: 2px solid #000; Add a visible border  */
  transition: border-bottom 0.3s ease; /* Smooth transition for border */
}

.card:hover {
  border-bottom: 2px solid transparent; /* Make border transparent on hover */
}

.coverImage {
  bottom: 100px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  transition: opacity 0.5s ease; /* Smooth transition for opacity */
  /* background-image: linear-gradient(
    to top,
    transparent 30%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  ); */
}

.card:hover .coverImage {
  opacity: 0; /* Make cover image disappear on hover */
}

.wrapper {
  transition: all 0.5s;
  padding: 3rem;
  border: 2px rgb(218, 218, 218) solid;
  position: absolute;
  width: 100%;
  border-radius: 20px;

  z-index: -1;
}

.card:hover .wrapper {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
}

.wrapper::before,
.wrapper::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  border-radius: 20px;
  position: absolute;
  left: 0;
}

.wrapper::before {
  top: 0;
  height: 100%;
  /* background-image: linear-gradient(
    to top,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  ); */
}

.wrapper::after {
  bottom: 0;
  opacity: 1;
  /* background-image: linear-gradient(
    to bottom,
    transparent 30%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  ); */
}

.card:hover .wrapper::before,
.card:hover .wrapper::after {
  opacity: 1;
}

.card:hover .wrapper::after {
  height: 120px;
}

.title {
  width: 100%;
  align-self: flex-end;
  transition: transform 0.5s;
}

.card:hover .title {
  transform: translate3d(0%, -50px, 100px);
}

.character {
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  border-radius: 20px;
  z-index: -1;
}

.card:hover .character {
  opacity: 1;
  transform: translate3d(0%, -30%, 100px);
}

/* Responsive adjustments */
@media screen and (max-width: 1200px) {
  .cardContainer {
    --card-width: 40vw;
  }
}

@media screen and (max-width: 768px) {
  .cardContainer {
    --card-width: 50vw;
  }

  .card {
    padding: 0 20px;
  }
}

@media screen and (max-width: 480px) {
  .cardContainer {
    --card-width: 90vw;
  }

  .card {
    padding: 0 10px;
  }
}
